$bg-color-light: #FFF;
$text-color-light: #3A3A3A;
$border-color-light: #CDCDCD;

$text-color-dark: #B1B1B3;
$bg-color-dark: #2A2A2E;
$border-color-dark: #3A3A3A;

:root {
  --text-color: #{$text-color-light};
  --bg-color: #{$bg-color-light};
  --border-color: #{$border-color-light};
}

.dark {
  --text-color: #{$text-color-dark};
  --bg-color: #{$bg-color-dark};
  --border-color: #{$border-color-dark};
}

$highlight-color: rgb(255, 62, 0);
