@import "theme";
@import "json-diff";
@import "tablesort";
@import "icons";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.noselect {
  user-select: none;
}

a {
  color: #2196f3;
}
